@using Model.Extended
@model UserProfileInfo
@{
    ViewBag.Title = Model.userName;
    Layout = "~/Views/Shared/NewLayout.cshtml";

}

@section controllerScripts{
    <script>
        angular.module("notocolApp").value("userFromService", '@Html.Raw(Json.Encode(Model))');
    </script>

    <script src="~/Scripts/User/ProfileController.js" type="text/javascript"></script>
}

<div class="right-col3" ng-controller="ProfileController">
    
    <div class="right-col-profile">
        <div class="profile-wrap">
            @{
               // var imageUrl = ;
                //<div class="profile-left" style="background-image:url(@imageUrl);"></div>
            }
            <div class="profile-left" style="background-image:url({{ProfileImageUrl(user.ID)}});"></div>
            <h1>{{user.userName|capitalizeFirst}}<span>@@{{user.userName}}</span></h1>
            <p>Followers {{user.follows}}&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Follows {{user.followers}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{user.numberOfNotes}} notes created on {{user.numberOfPages}} pages </p>

            <button ng-click="foo()">Follow</button>

        </div>
    </div>



    <div class="wrapper-single-column">
        
        <profile-page-tile ng-repeat="page in pages" page="page" open-page-details="openPageDetails(page)" tag-click-handler="addTagFilter(tag)">

        </profile-page-tile>
    </div>
</div>
