
@{
    ViewBag.Title = "SelectGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal" action="/User/FollowGroup">
            <div class="form-group">
                <label for="sel1">Select a group that you would like to follow</label>
                <select class="form-control" id="sel1" name="groupName">
                    <option>IITM Solar</option>
                    <option>None</option>
                    
                </select>
            </div>
            <button type="submit" class="btn btn-success" name="submit" value="Submit">Submit</button>
            
        </form>
        
        
    </div>
</div>
@section scripts{
<script>

        if (@ViewBag.UserLogin == 1){
            var editorExtensionId = "bcdabflpgoedlefkdiaedmeokndnfafa";
            chrome.runtime.sendMessage(editorExtensionId, {type: "UserLogin"})
        }

</script>
}
