<div class="popup-body" ng-class="{true: 'popup-body-big', false: 'popup-body-small'}[folderSelect]">
    
    <a href="https://notocol.tenet.res.in:8443" target="_blank"><div class="userImage"></div></a>
    
    <div class="popup-body-top-icon-container">
        <span style="float:right">
            <a href=# tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Close popup">
                <img class="popup-body-top-icon" src="images/notocol/close.png" ng-click="ClosePopup()" />
            </a>
        </span>
        <span style="float:right;padding-right:5px">
            <a href=# tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Delete this page">
                <img class="popup-body-top-icon" src="images/notocol/delete.png" ng-click="DeletePage()" />
            </a>
        </span>

    </div>
    <br>

    <!--<div style="text-align: center;color:white;margin-top:10px">
        Twitter Blogs
    </div>-->
    <div class="page-data-body">
        <form name="pageDetailsForm" id="pageDetailsForm">
            <div style="width:230px;margin-left:10px;margin-right:10px">
                <div style="width:100%">
                    <span class="privacy-icon">
                        <a href=# tooltips tooltip-size="small" tooltip-side="right" tooltip-content="Save page privately" ng-click="TogglePrivacy()" ng-if="!pageDetails.privacy">
                            <img style="width:20px;height:25px" src="images/notocol/unlock.png" />
                        </a>
                        <a href=# tooltips tooltip-size="small" tooltip-side="right" tooltip-content="Save page publicly" ng-click="TogglePrivacy()" ng-if="pageDetails.privacy">
                            <img style="width:20px;height:30px" src="images/notocol/lock.png" />
                        </a>

                    </span>

                    <span style="float:right;padding-right:5px">
                        <label class="highlighter-label">Highlighter</label>
                        <a href=# ng-click="ToggleAnnotation()">
                            <img style="width:30px;height:30px" tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Enable note taker" src="images/notocol/annotator-off.png" ng-show="!pageDetails.annotator" />
                            <img style="width:30px;height:30px" tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Disable note taker" src="images/notocol/annotator-on.png" ng-show="pageDetails.annotator" />
                        </a>
                    </span>
                    <!--<span style="float:right;padding-right:5px">
                    <img class="iconDimension" src="images/notocol/camera.png" />
                </span>-->
                </div>
                <br>

                <div class="page-summary">
                    <textarea rows="3" placeholder="Something to say or note about this page" ng-model="pageDetails.summary"></textarea>
                </div>
                <br />
                <div>
                    <div ng-if="pageDetailsForm.tags.$invalid" style="color:red">Invalid tag name: Cannot contain ~ ` ! @ # $ % ^ & * ( ) + = {</div>
                    <tags-input name="tags" ng-model="pageDetails.tags" allowed-tags-pattern="^[a-zA-Z0-9][a-zA-Z0-9\s-]*$">
                        <auto-complete source="loadTags($query)" min-length=2></auto-complete>
                    </tags-input>
                    <div class="tags-suggestions">
                        <img src="images/notocol/Default-10-Tag-27960023.png" style="width:20px; height:20px" />
                        <a href="#" ng-repeat="value in tagSuggestions" class="tag-suggest-options" ng-click="AddTag({'text': value })"><span>{{value}}</span></a>
                    </div>
                </div>
            </div>

            <br />

            <div class="addFolderButton" ng-hide="folderSelect" ng-click="SetFolderSelect(true)">
                <span style="padding-left:10px;line-height:24px">{{pageDetails.folderData.selectedFolder.folderName || 'Add to folder'}}</span>
            </div>

            <div ng-show="folderSelect">
                <!--ParentFolder Navigation-->
                <div class="parent-navigation" ng-show="currentParent.Parent != null">

                    <button type="button" ng-click="setCurrentParent(currentParent.Parent)">
                        <img src="images/notocol/Default-11-Triangle-27960024.png" />
                    </button>
                    <span>{{currentParent.Name}}</span>
                </div>

                <!--Input for New folder name-->
                <div class="new-folder-text-box-container">
                    <input type="text" placeholder="Create New" ng-model="selectedFoldername" ng-keyup="$event.keyCode == 13 ? AddFolder() : null" />
                    <button type="button"><img src="images/notocol/Default-15-New-27960028.png" alt="Add Folder" ng-click="AddFolder()"></button>
                </div>

                <!--Dropdown List-->
                <div class="folderList" style="overflow-y: auto;max-height: 100px;overflow-x: hidden;transition: all linear 0.5s;">
                    <table style="width:220px">
                        <tr style="width:100%" ng-repeat="folder in currentParent.Children|filter:{Name:selectedFoldername}">
                            <td class='iconStyle' ng-click="showSubFolder(folder,false)" width="20px" style="background-image:url(images/notocol/folder.png);
                                       "></td>
                            <td class='iconStyle' ng-click="selectFolder(folder)" style="font-size:13px;position: relative;
    top: -2px;">
                                {{folder.Name}}
                            </td>
                            <td class='iconStyle' ng-click="setCurrentParent(folder)" width="20px" style="background-image:url(images/notocol/next2.png);
                                        border-left: 1px solid grey"></td>
                        </tr>
                        <tr style="width:100%" ng-repeat="folder in currentParent.Children|filter:{Name:'!'+selectedFoldername}">
                            <td class='iconStyle' ng-click="showSubFolder(folder,false)" width="20px" style="background-image:url(images/notocol/folder.png);
                                       "></td>
                            <td class='iconStyle' ng-click="selectFolder(folder)" style="font-size:13px;position: relative;
    top: -2px;">
                                {{folder.Name}}
                            </td>
                            <td class='iconStyle' ng-click="setCurrentParent(folder)" width="20px" style="background-image:url(images/notocol/next2.png);
                                        border-left: 1px solid grey"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div style="text-align: center;padding-top:15px;">
                <button type="button" class="note-button" ng-click="SavePage()">Note</button>
            </div>
        </form>
    </div>
</div>