@model Model.Extended.NoteData

@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .noteBox {
        border-style: groove;
        padding-top: 10px;
        background-color: lightgrey;
        border-width: thin;
        border-radius: 10px;
        font-style: italic;
    }
</style>


@{if (Model == null){
      <p>Note not found</p>
  }
  else
  {
      var quotedText = "\"" + Model.QuotedText + "\"";
      string pattern = @"!\[Image Description\]\((?<link>.*)\)";
      string replacement = "<img src=\"${link}\">";
      
      string note = "";
      if (Model.NoteText != null) { 
          note = System.Text.RegularExpressions.Regex.Replace(Model.NoteText, pattern, replacement);
      }

    <div class="panel panel-info">  
        <div class="panel-heading">
            Note from <a target="_blank" href=@Model.pageURL>@Model.pageTitle </a>
        </div>
        
        <div class="panel-body " >
            <div class="well well-sm" style="font-style:italic"> @quotedText </div>
            @note
        </div>

        <div class="panel-footer">
          
        </div>
    </div>
    
    
}}
