
@{
    
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    .top-buffer { margin-top:3%; }

    body,html{
        height:100%;

    }
     #outer {
        position: relative;
    }
    #outer a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #outer input {
         text-indent: 16px;
    }

    .left-dotted-border{
        border-left: 1px dotted  #333;
    }
    .bottom-dotted-border{
        border-bottom: 1px dotted  #333;
    }
    .min-content-height{
        min-height:100%;
    }
     #dashboard-data {
        width: 100%;
        height: 100%;
        min-height: 50vh;
        display: block;
    }
     
    .pageBox{
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
        
     }

    .tagsText{
        position: absolute;
        bottom: 0;
        left: 5px;
        font-size:12px ;
        background-color:aliceblue;
        
    }
</style>

<div class="container" id="searchBar" style="min-height:100%">
    <div class="row top-buffer">
        <div class="col-sm-12 text-center">
            <form class="form-inline" role="form" id="searchParamters">
                <div class="form-group">
                    <label for="search">Search</label>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="keyword"></label>
                    <input type="text" class="form-control" id="keyword" placeholder="Enter keywords">
                </div>
                
                <div class="form-group">
                    <label for="tag-tree">under</label>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" id="tag" placeholder="tag">
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" onclick="alert('Show tag tree')"><img src="~/Content/img/Hierarchy.png" style="width:25px; height:25px"></a>
                </div>    
                           
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
    

</div>
<hr size="2" />

<div id="dashboard-data" class="container-fluid" >
    <div class="row">
        <div class="col-sm-12 min-content-height" style="min-height:100vh">
            <p> My Content </p>
            <div>
                <button type="button" class="btn btn-default" id="GetNewPageData">Add new Page</button>
       
            </div>
            <div class="top-buffer" id="NewPageInfo">
                <form class="form-group role=" form" id="newPageDetails">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pageDesc" placeholder="Enter Title/Note ">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="pageURL" placeholder="Enter URL">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="tags" placeholder="Enter tags">
                    </div>
                    
                    <button type="submit" class="btn btn-default" id="addNewPage">Save Page</button>
                </form>
                <hr size="2" />

            </div>

            <div class="top-buffer" id="pages">
                <div class="row">
                    <div class="col-sm-3 pageBox">
                        <a href="">Hello world</a>
                        
                    </div> 
                </div>
            </div>
    </div>
           
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#NewPageInfo").hide();
            

            var results = [
                {
                    "ID": 5,
                    "Name": "Project Management",
                    "ParentID": 1,
                    "UserID": 2
                },
                {
                    "ID": 7,
                    "Name": "Javascript",
                    "ParentID": 1,
                    "UserID": 2
                }

            ];

            var sample_input_pages = [
                {
                    "Source": {
                        "ID": 1,
                        "UserID": 0,
                        "Title": "Self-Study Guide to Machine Learning - Machine Learning Mastery",
                        "Link": "https://machinelearningmastery.com/self-study-guide-to-machine-learning/",
                        "Summary": "ML references",
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": results
                },

                {
                    "Source": {
                        "ID": 2,
                        "UserID": 0,
                        "Title": "LoudCloud Systems, Inc. | Understand behaviors. Improve learning.",
                        "Link": "http://loudcloudsystems.com/",
                        "Summary": "Adaptive Learning Data",
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": results
                },
                {
                    "Source": {
                        "ID": 2,
                        "UserID": 0,
                        "Title": "LoudCloud Systems, Inc. | Understand behaviors. Improve learning.",
                        "Link": "http://loudcloudsystems.com/",
                        "Summary": "Adaptive Learning Data",
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": results
                },
                {
                    "Source": {
                        "ID": 2,
                        "UserID": 0,
                        "Title": "LoudCloud Systems, Inc. | Understand behaviors. Improve learning.",
                        "Link": "http://loudcloudsystems.com/",
                        "Summary": "Adaptive Learning Data",
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": results
                },
                {
                    "Source": {
                        "ID": 2,
                        "UserID": 0,
                        "Title": "LoudCloud Systems, Inc. | Understand behaviors. Improve learning.",
                        "Link": "http://loudcloudsystems.com/",
                        "Summary": "Adaptive Learning Data",
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": results
                }
            ];
            
            var current_row_element = null;
            var pageContentRoot = document.getElementById("pages");
            for (var j = 0; j < sample_input_pages.length; j++) {
                
                var currentColElement, pageData;
                if (!(j % 4)) {
                
                    current_row_element = document.createElement('div');;
                    current_row_element.className="row";
                    pageContentRoot.appendChild(current_row_element);
                }
                currentColElement = document.createElement('div');
                currentColElement.className = "pageBox col-sm-3";
                
                pageData = document.createElement('a');
                pageData.href = sample_input_pages[j].Source.Link;
                pageData.text = sample_input_pages[j].Source.Title;
                
                currentColElement.appendChild(pageData);
                current_row_element.appendChild(currentColElement);
            }
            $("#GetNewPageData").click(function () {

                $("#NewPageInfo").show();
                $("#GetNewPageData").hide();
            });
            $("#addNewPage").click(function () {
                var url = $("#pageURL").val();
                var note = $("#pageDesc").val();
                var tagnames = $("#tags").val().split(",");

                var tagData = [];
                var tagInfo;
                for (var i = 0; i < tagnames.length; i++) {
                    tagName = tagnames[i];

                    var j = 0;
                    for (; j < results.length; j++) {
                        if (!(tagName.localeCompare(results[j].Name))) {
                            tagInfo = results[j];
                            break;
                        }
                    }
                    if (j == results.length) {
                        tagInfo = {
                            "ID": "0",
                            "Name": tagName,
                            "ParentID": "0",
                            "UserID": "2"
                        };

                    }

                    tagData[tagData.length] = tagInfo;
                }

                alert("url is " + url);
                var srcData = {
                    "Source": {
                        "ID": 1,
                        "UserID": 0,
                        "Title": "Testing",
                        "Link": url,
                        "Summary": note,
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date(),
                    },
                    "Tags": tagData
                }


                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: srcData,
                    //url: 'api/Source?userID=2', // url of Api controller
                    url: 'http://localhost:5555/api/Source?userID=2',
                    success: function (data) {
                        if (data.redirect)
                            alert("Redirect true !");

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
                $("#NewPageInfo").hide();
                $("#GetNewPageData").show();
            });
        });
    </script>
    
}
