@using Model
@model IList<Tag>
@{
    
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    .top-buffer {  }
    #keyword{
        min-width: 450px;
        /*min-width: 100%;*/
        
    }
    body,html{
        height:100%;

    }
     #outer {
        position: relative;
    }
    #outer a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #outer input {
         text-indent: 16px;
    }

    .left-dotted-border{
        border-left: 1px dotted  #333;
    }
    .bottom-dotted-border{
        border-bottom: 1px dotted  #333;
    }
    .min-content-height{
        min-height:100%;
    }
     #dashboard-data {
        width: 100%;
        height: 100%;
        min-height: 50vh;
        display: block;
    }
     
    .pageBox{
        
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
        
        
        
     }
    .pageBoxContainer{
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
     }

    .pageTags{
        position: absolute;
        bottom: 2px;
        left: 5px;
        font-size:12px ;
        /*background-color:#F9F9F9;*/
        
    }
    .viewNotesButton{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .single-note-box{
        background-color:#F9F9F9;
  
        border-radius:5px;
        margin-bottom:3%;
     }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .page-title{
        
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 125%;

    }
    .page-subtitle{
        
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 75%;

    }
    .list-inline>li {
      margin-right: -12px;
    }

    .input-group .bootstrap-tagsinput {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        margin-bottom: 1px;

        
    }
    .table-container {
  display: table;
}

.table-container .table-row {
  height: 100%;
  display: table-row;
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
  
}

.table-col{
    background-color:#F9F9F9;
    /*border-right:1px groove gray;
    border-bottom:1px groove gray;*/
    border: 8px solid #ffffff;
    border-radius:20px;
}
    /*#tagButton{
        border: none;
        background-color: #F9F9F9;

    }*/
</style>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<div id="searchBar" >
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="col-sm-12 text-center">
                <form class="form-inline" role="form" id="searchParamters" style="min-width:100%">
                    <label class="sr-only" id="keywordlabel"></label>
                    <input type="text" class="form-control" id="keyword" placeholder="Enter keywords for search">
                    <label id="tag-tree">under</label>
                    <input type="text" id="filterTag" data-provide="typeahead" placeholder="Enter tags to filter">
                    @*<button class="btn btn-default" id="searchForPages">Search</button>*@
                </form>
                <br />
            </div> 
        </div>
</div>
    
<hr size="2" />

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">My Collection</a></li>
                <li><a href="#">Others</a></li>
             </ul>
        </div>
    </div>

<div id="dashboard-data" >
    <div class="row">
        <div class="top-buffer">
            
            <div class="col-sm-12">
                <button type="button" class="btn btn-default" style="float:right" id="refreshPages"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </div>

    <br />
    <div class="row top-buffer" style="min-height: 100vh">
        <div class="col-sm-12 min-content-height ">
            <div id="pages" class="container table-container">


            </div>

        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Scripts/boostrap3-typeahead.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js" type="text/javascript"></script>
    
    <script>
        //var baseServerName = '<%=ConfigurationManager.AppSettings["serverName"]%>';
        //alert(serverName);
        var tagNamesUrl = "/Tag/GetCurrentUserTags";
        $.get(tagNamesUrl, function(tagData){
     
            $('#filterTag').tagsinput({
                itemValue: 'ID',
                itemText: 'Name',
                typeahead: {
                    displayKey: 'Name',
                    source: tagData,
                    afterSelect: function (val) {
                       this.$element.val("");
                    },
                    displayText:function(a) {
                        return a
                    },
                    autoSelect: true
                }
            });
        },'json');

      

    </script>
    
    <script>


        var searchTagString= "";
        function getPages() {
            var keywordsEntered = $('#keyword').val();
            var tagsEntered = $('#filterTag').val();
            
            var userID = '@Session["userID"]';
            $.ajax({
                // Reload the pages based on current given filter
                url: "/Source/SourceItems",
                type: 'Get',
                data: { "keywordFilter": keywordsEntered, "tagFilter": tagsEntered, "userID": userID},
                datatype: 'html'
            })
            .success(function (data) {
                console.log("For keywords:" + keywordsEntered + " and tags:" + searchTagString + " received data");
                $("#pages").html(data);

            })
            .error(function(xhr, status){
                console.log("something seems wrong with status " + status + " " + xhr);
                setTimeout(getPages, 5000);

            });
        }

        $(function(){
            //Fetch all user tags
            getPages();
            $("#refreshPages").on("click", function () {
                getPages();
            });

            $("#searchForPages").on("click", function () {
                getPages();
            });
            
            $("#filterTag").on("change", getPages);
            $('#keyword').on("keyup", getPages);
            $(".dropdown-menu li a").click(function(){
                var selText = $(this).text();
                $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
                if(selText == "All tags") searchTagString = "";
                else searchTagString=selText;
                getPages();
            });
        });

        

        if (@ViewBag.RefreshExtension ) {
            // The ID of the extension we want to talk to.
            var editorExtensionId = "namhfjepbaaecpmpgehfppgnhhgaflne";

            // Make a simple request:
            chrome.runtime.sendMessage(editorExtensionId, { reloadExtension: "true" },
              function (response) {

              });
        }
    
        

        

    </script>

}    