@using Model
@model IList<Source>
@{
    
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    .top-buffer { margin-top:3%; }

    body,html{
        height:100%;

    }
     #outer {
        position: relative;
    }
    #outer a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #outer input {
         text-indent: 16px;
    }

    .left-dotted-border{
        border-left: 1px dotted  #333;
    }
    .bottom-dotted-border{
        border-bottom: 1px dotted  #333;
    }
    .min-content-height{
        min-height:100%;
    }
     #dashboard-data {
        width: 100%;
        height: 100%;
        min-height: 50vh;
        display: block;
    }
     
    .pageBox{
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
        
     }

    .tagsText{
        position: absolute;
        bottom: 0;
        left: 5px;
        font-size:12px ;
        background-color:aliceblue;
        
    }
</style>

<div class="container" id="searchBar" style="min-height:100%">
    <div class="row top-buffer">
        <div class="col-sm-12 text-center">
            <form class="form-inline" role="form" id="searchParamters">
                <div class="form-group">
                    <label id="search">Search</label>
                </div>

                <div class="form-group">
                    <label class="sr-only" id="keyword"></label>
                    <input type="text" class="form-control" id="keyword" placeholder="Enter keywords">
                </div>
                
                <div class="form-group">
                    <label id="tag-tree">under</label>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" id="tag" placeholder="tag">
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" onclick="alert('Show tag tree')"><img src="~/Content/img/Hierarchy.png" style="width:25px; height:25px"></a>
                </div>    
                           
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
    

</div>
<hr size="2" />

<div id="dashboard-data" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 min-content-height" style="min-height: 100vh">
            <p> My Content </p>
            <div>
                <button type="button" class="btn btn-default" id="GetNewPageData">Add new Page</button>

            </div>
            <div class="top-buffer" id="NewPageInfo">
                <form class="form-group role=" form" id="newPageDetails">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pageDesc" placeholder="Enter Title/Note ">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="pageURL" placeholder="Enter URL">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="tags" placeholder="Enter tags">
                    </div>

                    <button type="submit" class="btn btn-default" id="addNewPage">Save Page</button>
                </form>
                <hr size="2"/>

            </div>

            <div class="top-buffer" id="pages">
                <div class="row">
                        @{
                            foreach (var source in Model)
                            {
                                <div class="col-sm-3 pageBox">
                                    <a href="@source.Link">@source.Title</a>
                                    <br/>
                                    @source.TagNames;
                                </div>
                            }

                        }

                                
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#NewPageInfo").hide();
           
            $("#GetNewPageData").click(function() {

                $("#NewPageInfo").show();
                $("#GetNewPageData").hide();
            });

           
            $("#addNewPage").click(function() {
                var url = $("#pageURL").val();
                var note = $("#pageDesc").val();
                var tagnames = $("#tags").val().split(",");

                var tagData = [];
                
                for (var i = 0; i < tagnames.length; i++) {
                    tagData[tagData.length] = {
                        "ID": "0",
                        "Name": tagnames[i],
                        "ParentID": "1",
                        "UserID": "2"
                    };
                }
  
                var srcData = {
                    "Source": {
                        "ID": 0,
                        "UserID": 2,
                        "Title": "Testing",
                        "Link": url,
                        "Summary": note,
                        "ReadLater": false,
                        "SaveOffline": false,
                        "Privacy": false,
                        "Rating": 0,
                        "ModifiedAt": Date()
                    },
                    "Tags": tagData
                }

                // Script to add Source to database.
                $.ajax({
                    type: "POST",
                    dataType: "application/json",
                    data: srcData,
                    url: 'http://localhost:5555/api/Source',
                    success: function(data) {
                        alert(data);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                $("#NewPageInfo").hide();
                $("#GetNewPageData").show();
            });
        });
    </script>

}
