
@{
    ViewBag.Title = "How it works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> How it Works</h2>

<p> Chimpu, the study smart study assistant is the best study aid you can have at your service. 
    It can assist you to organise all the web content you read online using hiearchy of tags with 
    minimal efforts to bundle all related content together for your reference later. It also provides 
    you with the tools to annotate the content by highlighting or adding notes wherever you like to 
    directly on the webpage so that next time you open the same page, 
    you find your annotations at the same place! 
</p>

<p> When you organise and annotate the stuff you read, you create for yourself a kind of reference 
    resource which you can have for your own reference later or share with others if you like to 
    help them in their study. Interestingly, you can view references created by others under the topics 
    you are studying and in the process discover new content :) </p>

<p class="lead"> Login or create an account through the browser tool </p> 
<p> All the tagging and annotating activities you do, would be synced with the cloud. 
    Thus you need to have an account with us using which you can access it whenever you 
    want from whichever device you want!
</p>

<p class="lead"> Add the tool to your browser </p>
<p>For ease of annotating and tagging we suggest you to add the tool to your browser directly.
   After you add it to your browser, you can annotate and tag the page in place</p>
<img src="~/Content/img/downloadIcon.png" />
<br /><br /><br />
<p class="lead"> Use the annotation tools to tag, highlight and comment </p>

<p>
    After you add the tool to your browser, the tool icon would appear next to the address bar in your browser. 
    Whenever you need to call chimpu at your service, just click on that icon. You will get to use most of the functionalities
    right from there
</p>


