<div class="jumbotron">
    <h1>NotoCol 0.1</h1>
    <p class="lead">NotoCol is a tool to organize your findings and research in one central location. </p>
    <p><a href="@Url.Action("AboutUs")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Organize your findings</h2>
        <p>You can organize your findings was never so easy. You can store your links in a structured way with tags and rate them to be used later.</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share and Suggestions</h2>
        <p>You can easily share your links and videos with your friends.</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>
    </div>
</div>
