<div class="jumbotron">
    <h1>NotoCol 0.1</h1>
    <p class="lead">Your Smart Study Assistant </p>
    <p><a href="@Url.Action("AboutUs")" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Annotate</h2>
        <p>Highlight, comment or add notes. Annotate for your own reference later</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>
    </div>

     <div class="col-md-4">
        <h2>Organize</h2>
        <p>Compile and organize the content you find useful by mantaining tags and ratings you associate with it</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>
    </div>
 
    <div class="col-md-4">
        <h2>Share and Discover</h2>
        <p>Easily share your content compilations and also discover relevant content that others loved</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>
    </div>
</div>
