
@using Model
@using Newtonsoft.Json
@model IList<Model.Tag>
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="~/Content/jquery.orgchart.css" media="all" rel="stylesheet" type="text/css" />

@section scripts
{
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/OrgChart/jquery.orgchart.js"></script>
    <script type="text/javascript">
    var lastValue = '';
    $('#txtSearchTags').on('change keyup paste', function() {
        // Don't count the keys which don't actually change
        // the text. The four below are the arrow keys, but
        // there are more that I omitted for brevity.
        if (event.which != 37 && event.which != 38 &&
            event.which != 39 && event.which != 40) {
            // check for last value
            if ($(this).val() != lastValue) {
                lastValue = $(this).val();
                if (lastValue.length >= 3) {
                    //alert(lastValue);
                    GetTags(lastValue);
                }
            }
        }
    });

    function GetTags(strToSearch) {
        $.ajax({
            url: '@Url.Action("SearchTags", "Home")', //+strToSearch,
            // url: '/home/searchTags',
            type: 'POST',
            async: false,
            data: { id: strToSearch },
            success: function(data) {
            $('#dvTags').empty();
            $('#dvTags').append('<ul>');
            $.each(data, function(index, tag) {
                $('#dvTags').append('<li>' + tag.Name + '</li>');
            });
        }
        });
    }
</script>

    <script type="text/javascript">
    var selectedNodeID;
    function SearchTags(parameters) {

    }

    var testData = [
        {id: 1, Name: 'My Organization', parentID: 0},
        {id: 2, Name: 'CEO Office', parentID: 1},
        {id: 3, Name: 'Division 1', parentID: 1},
        {id: 4, Name: 'Division 2', parentID: 1},
        {id: 6, Name: 'Division 3', parentID: 1},
        {id: 7, Name: 'Division 4', parentID: 1},
        {id: 8, Name: 'Division 5', parentID: 1},
        {id: 5, Name: 'Sub Division', parentID: 3},

    ];

    var tagArray = @Html.Raw(Json.Encode(Model).Replace("\"ID\"","\"id\"")); //replace ID with id to support data for tree view
        //console.log(tagArray);
        //console.log(testData);

    $(function () {
        //alert('org');
        org_chart = $('#orgChart').orgChart({
            data: tagArray, // your data
            showControls: true, // display add or remove node button.
            allowEdit: true, // click the node's title to edit
            onAddNode: function(node) {
                addTag(node);
            },
            onDeleteNode: function(node) {
                deleteTag(node);
            },
            onClickNode: function(node) {
                selectedNodeID = node.id;
            },
            newNodeText: 'Add Tag' // text of add button
        });
    });

        function deleteTag(tag) {
            var tagToSave = {ID:tag.data.id ,Name:tag.data.Name,ParentID:tag.data.ParentID};
            $.ajax({
                url: '@Url.Action("DeleteTag", "Home")',
                type: 'POST',
                async: false,
                data: tagToSave,
                success: function(data) {

                }
            });
            org_chart.deleteNode(tag.data.id);
        }

        function addTag(tag) {
            var newTagID = 0;
            var tagToSave = {Name:'New Tag', ParentID: tag.data.id };
            $.ajax({
                url: '@Url.Action("AddTag", "Home")',
            type: 'POST',
            async: false,
            data: tagToSave,
            success: function(data) {
               // alert(data);
                newTagID = data;
            }
        });

        org_chart.newNode(tag.data.id,newTagID);
    }

    function selectNode(tag) {
        log('Clicked node '+tag.data.id);
    }

    // just for example purpose
    function log(text) {
        $('#consoleOutput').append('<p>' + text + '</p>');
    }
    </script>
}
<h2>Tags</h2>
<div>
    <form method="POST" id="tags">
        <h4>Search Tags : </h4>
        <div id="dvTagSearch"><input type="text" id="txtSearchTags"/></div>
        <div id="dvTags"></div>
    </form>
</div>
<div id="orgChart"></div>