
@{
    ViewBag.Title = "Welcome to Notocol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Getting Started</h3>
<hr />
<div class="row">
    <div class="col-sm-3">
        <div class="label label-default">Step 1</div>
        <div class="text-muted">Create an account or Sign in to your notocol account</div>
    </div>

    <div class="col-sm-4">
        <div class="label label-default">Step 2</div>
        <div class="text-muted">Use the Notocol toolbar on the right to use all the features listed below. This toolbar can be enabled or disabled later for any page by clicking the Notocol icon <div class="glyphicon glyphicon-comment"></div> on the right of address bar </div>
    </div>
</div>

<h4><div class="label label-info" >Features</div></h4>
<div class="row">
    
    <div class="col-sm-12">
        <div class="list-group">
            <p>
                <div class="glyphicon glyphicon-bookmark"></div>  
                Bookmark any page by just clicking on the Notocol icon
            </p>

            <p>
                <div class="glyphicon glyphicon-tag"></div>  
                Tag pages with different tags to categorize them
            </p>

            <p>
                <div class="glyphicon glyphicon-lock"></div> 
                Mark the page as private if you do not want to make it searchable for others
            </p>
                
            <p>
                <div class="glyphicon glyphicon-pencil"></div>
                Once Notocol is active for a page, you can select any text on opened html or pdf to add comment or highlight
            </p>

            <p>
                <div class="glyphicon glyphicon-th"></div>
                View others and your collection of pages and notes on <a href="@System.Configuration.ConfigurationManager.AppSettings["serverName"]/Home">Notocol</a>
            </p>
        </div>

    </div>
 </div>
 <div class="row">
    <div class="col-sm-12"></div>
 </div>

 <div class="row">
    <div class="col-sm-12"></div>
 </div>

<div class="row">
    <div class="col-sm-12">
        
    </div>
</div>


<div class="row"> 
    <div class="col-sm-12"></div>
</div>



