body {
}
.top-buffer {  }
    #keyword{
        min-width: 450px;
        /*min-width: 100%;*/
        
    }
    body,html{
        height:100%;

    }
     #outer {
        position: relative;
    }
    #outer a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #outer input {
         text-indent: 16px;
    }

    .left-dotted-border{
        border-left: 1px dotted  #333;
    }
    .bottom-dotted-border{
        border-bottom: 1px dotted  #333;
    }
    .min-content-height{
        min-height:100%;
    }
     #dashboard-data {
        width: 100%;
        height: 100%;
        min-height: 50vh;
        display: block;
    }
     
    .pageBox{
        
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
        
        
        
     }
    .pageBoxContainer{
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
     }

    .pageTags{
        position: absolute;
        bottom: 2px;
        left: 5px;
        font-size:12px ;
        /*background-color:#F9F9F9;*/
        
    }
    .page-element-options{
        position: absolute;
        bottom: 5px;
        left: 5px;

    }

    .page-user-info{
        position: absolute;
        bottom: -5px;
        left: 5px;
        
    }
    .viewNotesButton{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .single-note-box{
        background-color:#F9F9F9;
  
        border-radius:5px;
        margin-bottom:3%;
     }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .page-title{
        
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 115%;

    }
    .page-subtitle{
        
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 75%;

    }
    .list-inline>li {
      margin-right: -12px;
    }

    .input-group .bootstrap-tagsinput {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        margin-bottom: 1px;

        
    }
    .table-container {
  display: table;
}

.table-container .table-row {
  height: 100%;
  display: table-row;
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
  
}

.table-col{
    background-color:#F9F9F9;
    /*border-right:1px groove gray;
    border-bottom:1px groove gray;*/
    border: 8px solid #ffffff;
    border-radius:20px;
}
    /*#tagButton{
        border: none;
        background-color: #F9F9F9;

    }*/
