<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      

    <title>Hypothesis</title>

    

    
      <link rel="service" type="application/annotatorsvc+json" href="https://localhost:44301/api/" />
    
    
  
    <link rel="stylesheet" href="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/styles/app.min.css?d5c81bab">
  


    

    
      <base target="_top" href="https://localhost:44301/" />
    
  </head>
  

<body ng-app="h" ng-strict-di ng-controller="AppController" ng-csp="">

    
  <!-- Toolbar -->
  <div class="ng-cloak topbar" ng-class="frame.visible && 'shown'">
    <div class="inner content">
      <div class="pull-left">
        <button class="btn btn-clean"
                ng-click="shareDialog.visible = !shareDialog.visible"
                ng-if="isEmbedded"
                title="Share this page">
                <i class="h-icon-share btn-icon"></i></button>
      </div>

      <div class="pull-right" ng-switch="auth.user">
        <span ng-switch-when="undefined">⋯</span>
        <a href="" ng-click="login()" ng-switch-when="null">Sign in</a>
        <div class="dropdown pull-right user-picker">
          <span role="button"
                class="dropdown-toggle"
                data-toggle="dropdown">{{ auth.user|persona }}<!--
            --><span class="provider" ng-show="auth.user">/{{ auth.user|persona:'provider' }}</span><!--
            --><i class="h-icon-arrow-drop-down"></i></span>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="auth.user"><a href="" ng-click="accountDialog.visible='true'">Account</a></li>
            <li><a href="mailto:support@hypothes.is">Feedback</a></li>
            <li><a href="/docs/help" target="_blank">Help</a></li>
            <li ng-show="auth.user"><a href="/stream?q=user:{{ auth.user|persona }}"
                                       target="_blank">My Annotations</a></li>
            <li ng-show="auth.user"><a href="" ng-click="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>

      <div class="pull-right dropdown group-list"
           ng-if="auth.user && feature('groups')"
           group-list=""
           groups="session.state.groups">
      </div>

      <!-- Searchbar -->
      <div class="simple-search"
           query="search.query"
           on-search="search.update(query)"
           on-clear="search.clear()"></div>
      <!-- / Searchbar -->
    </div>
  </div>
  <!-- / Toolbar -->

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Account Dialog -->
    <div class="content ng-cloak" ng-if="accountDialog.visible">
      <div id="dialog" class="sheet">
        <i class="close h-icon-close"
           role="button"
           title="Close"
           ng-click="accountDialog.visible = false"></i>
        <div ng-if="auth.user">
          
            <div class="tabbable"
                 ng-controller="AccountController"
                 ng-model="tab">
              <div class="tab-pane" title="Account">
  <form class="account-form form"
        name="changeEmailForm"
        ng-submit="changeEmailSubmit(changeEmailForm)"
        novalidate form-validate>

    <h2 class="form-heading"><span>Change Your Email Address</span></h2>

    <p class="form-description">Your current email address is: <strong ng-bind="email"></strong>.</p>

    <div class="form-field">
      <label class="form-label" for="field-email">New Email Address:</label>
      <input id="field-email" class="form-input" type="email" name="email" required ng-model="changeEmail.email" />
      <ul class="form-error-list">
        <li class="form-error" ng-show="changeEmailForm.email.$error.required">Please enter your new email address.</li>
        <li class="form-error" ng-show="changeEmailForm.email.$error.email">Please enter a valid email address.</li>
        <li class="form-error" ng-show="changeEmailForm.email.$error.response">{{changeEmailForm.email.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-emailAgain">Enter Your New Email Address Again:</label>
      <input id="field-emailAgain" class="form-input" type="email" name="emailAgain" required ng-model="changeEmail.emailAgain" />
      <ul class="form-error-list">
        <li class="form-error" ng-show="changeEmailForm.emailAgain.$error.required">Please enter your new email address twice.</li>
        <li class="form-error" ng-show="changeEmailForm.emailAgain.$error.email">Please enter a valid email address.</li>
        <li class="form-error" ng-show="changeEmailForm.emailAgain.$error.response">{{changeEmailForm.emailAgain.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-pwd">Password:</label>
      <input id="field-pwd" class="form-input" type="password" name="pwd" required ng-model="changeEmail.pwd" />

      <ul class="form-error-list">
        <li class="form-error" ng-show="changeEmailForm.pwd.$error.required">Please enter your password.</li>
        <li class="form-error" ng-show="changeEmailForm.pwd.$error.minlength">Your password does not match the one we have on record.</li>
        <li class="form-error" ng-show="changeEmailForm.pwd.$error.response">{{changeEmailForm.pwd.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <button class="btn" type="submit"
                status-button="changeEmailForm">Update</button>
      </div>
    </div>
  </form>

  <form class="account-form form"
        name="changePasswordForm"
        ng-submit="submit(changePasswordForm)"
        novalidate form-validate>
    <h2 class="form-heading"><span>Change Your Password</span></h2>

    <div class="form-field">
      <label class="form-label" for="field-old-password">Current Password:</label>
      <input id="field-old-password" class="form-input" type="password" name="pwd" required ng-model="changePassword.pwd" />

      <ul class="form-error-list">
        <li class="form-error" ng-show="changePasswordForm.pwd.$error.required">Please enter your current password.</li>
        <li class="form-error" ng-show="changePasswordForm.pwd.$error.minlength">Your password does not match the one we have on record.</li>
        <li class="form-error" ng-show="changePasswordForm.pwd.$error.response">{{changePasswordForm.pwd.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-new-password">New Password:</label>
      <input id="field-new-password" class="form-input" type="password" name="password" required ng-model="changePassword.password" />

      <ul class="form-error-list">
        <li class="form-error" ng-show="changePasswordForm.password.$error.required">Please enter a password.</li>
        <li class="form-error" ng-show="changePasswordForm.password.$error.minlength">Passwords must be at least 2 characters.</li>
        <li class="form-error" ng-show="changePasswordForm.password.$error.response">{{changePasswordForm.password.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-confirm-password">Confirm Password:</label>
      <input id="field-confirm-password" class="form-input" type="password" name="confirmPassword" ng-model="changePassword.confirmPassword" match="changePassword.password" required>

      <ul class="form-error-list">
        <li class="form-error" ng-show="changePasswordForm.confirmPassword.$error.required">Please confirm your new password.</li>
        <li class="form-error" ng-show="changePasswordForm.confirmPassword.$error.minlength">Passwords must be at least 2 characters.</li>
        <li class="form-error" ng-show="changePasswordForm.confirmPassword.$error.match">Passwords do not match.</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <button class="btn" type="submit"
                status-button="changePasswordForm">Update</button>
      </div>
    </div>
  </form>

  <form class="account-form form" name="deleteAccountForm" ng-submit="delete(deleteAccountForm)" novalidate form-validate>
    <h2 class="form-heading"><span>Delete Account</span></h2>
    <p class="form-description">This will delete your user account. If you would like to delete your annotations, do so before continuing or email us at <a href="mailto:support@hypothes.is">support@hypothes.is</a>.</p>

    <div class="form-field">
      <label class="form-label" for="confirm-account-deletion">Confirm Password:</label>
      <input id="confirm-account-deletion" class="form-input" type="password" name="pwd" ng-model="deleteAccount.pwd" required>

      <ul class="form-error-list">
        <li class="form-error" ng-show="deleteAccountForm.pwd.$error.required">Please enter your password to confirm</li>
        <li class="form-error" ng-show="deleteAccountForm.pwd.$error.response">{{deleteAccountForm.pwd.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <button class="btn btn-danger" type="submit"
                status-button="deleteAccountForm">Delete Account</button>
      </div>
    </div>
  </form>
</div>

              <div ng-if="feature('notification')" class="tab-pane" title="Notifications">
  <form class="account-form form" name="notificationsForm">
    <p class="form-description">Receive notification emails when:</p>
    <div class="form-field form-checkbox-list">
      <div class="form-checkbox-item" ng-repeat="subscription in subscriptions">
        <input id="checkbox-{{$index}}" type="checkbox" ng-model="subscription.active" ng-change="updated($index, notificationsForm)" />
        <label class="form-label" for="checkbox-{{$index}}">{{subscriptionDescription[subscription.type]}}</label>
      </div>
    </div>
  </form>
</div>

            </div>
          
        </div>
        <div ng-if="!auth.user">
          
            <div class="form-vertical tabbable"
     tab-reveal="['forgot_password', 'reset_password']"
     ng-controller="AuthController as vm"
     ng-form="form"
     ng-model="account.tab"
     ng-submit="vm.submit(form[account.tab])">
  <!-- Login -->
  <form data-title="Sign in"
        data-value="login"
        class="form tab-pane"
        name="login"
        form-validate
        novalidate>

    <p class="form-description form-error"
       ng-show="login.responseErrorMessage">
      {{login.responseErrorMessage}}
    </p>

    <div class="form-field">
      <label class="form-label" for="field-login-username">Username or email address:</label>
      <input class="form-input" type="text" id="field-login-username"
             name="username" value=""
             ng-model="model.username" ng-minlength="3"
             required autocapitalize="false" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="login.username.$error.required"
            >Please enter your username or email address.</li>
        <li class="form-error"
            ng-show="login.username.$error.minlength"
            >Usernames are at least 3 characters.</li>
        <li class="form-error"
            ng-show="login.username.$error.response"
            >{{login.username.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-login-password">Password:</label>
      <input class="form-input" id="field-login-password"
             type="password" name="password" value=""
             ng-model="model.password"
             required autocapitalize="false" autocorrect="false" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="login.password.$error.required"
            >Please enter your password.</li>
        <li class="form-error"
            ng-show="login.password.$error.response"
            >{{login.password.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-message">
        <a href="" ng-click="account.tab = 'forgot_password'"
           >Forgot your password?</a>
      </div>
      <div class="form-actions-buttons">
        <button class="btn btn-primary" type="submit" name="login"
                status-button="login">Sign in</button>
      </div>
    </div>
  </form>
  <!-- / Login -->

  <!-- Register -->
  <form data-title="Create an account"
        data-value="register"
        class="form tab-pane"
        name="register"
        form-validate
        novalidate>

    <p class="form-description form-error"
       ng-show="register.responseErrorMessage">
      {{register.responseErrorMessage}}
    </p>

    <div class="form-field">
      <label class="form-label" for="field-register-username"
             >Username:
        <span class="form-hint">(between 3 and 15 characters)</span></label>
      <input class="form-input" id="field-register-username"
             type="text" name="username" value=""
             required autocapitalize="false" ng-model="model.username"
             ng-minlength="3" ng-maxlength="15"
             ng-pattern="/^[A-Za-z0-9._]+$/"
             ng-model-options="{updateOn: 'blur'}" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="register.username.$error.required"
            >Please choose a username.</li>
        <li class="form-error"
            ng-show="register.username.$error.minlength"
            >Usernames must be at least 3 characters.</li>
        <li class="form-error"
            ng-show="register.username.$error.maxlength"
            >Usernames must be 15 characters at most.</li>
        <li class="form-error"
            ng-show="register.username.$error.pattern"
            >Only letters, numbers, underscore and dot are allowed.</li>
        <li class="form-error"
            ng-show="register.username.$error.response"
            >{{register.username.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-register-email"
             >Email Address:</label>
      <input class="form-input" id="field-register-email"
             type="email" name="email" value=""
             ng-model="model.email" required autocapitalize="false"
             ng-model-options="{updateOn: 'blur'}" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="register.email.$error.email"
            >Is this an email address?</li>
        <li class="form-error"
            ng-show="register.email.$error.required"
            >Please enter your email.</li>
        <li class="form-error"
            ng-show="register.email.$error.response"
            >{{register.email.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-register-password"
             >Password:
        <span class="form-hint">(at least two characters)</span></label>
      <input id="field-register-password" class="form-input"
             type="password" name="password" value=""
             required autocapitalize="false" autocorrect="false"
             ng-minlength="2" ng-model="model.password"
             ng-model-options="{updateOn: 'blur'}" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="register.password.$error.required"
            >Please enter a password.</li>
        <li class="form-error"
            ng-show="register.password.$error.minlength"
            >Passwords must be at least 2 characters.</li>
        <li class="form-error"
            ng-show="register.password.$error.response"
            >{{register.password.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-message">
        You are agreeing to be bound by our <a href="terms-of-service" target="_blank"
           >Terms of Service</a>.
      </div>
      <div class="form-actions-buttons">
        <button class="btn" type="submit" name="sign_up"
                status-button="register">Sign up</button>
      </div>
    </div>

  </form>
  <!-- / Register -->

  <!-- Forgot password -->
  <form data-title="Password reset"
        data-value="forgot_password"
        class="form tab-pane"
        name="forgot_password"
        form-validate
        novalidate>

    <p class="form-description form-error"
       ng-show="forgot_password.responseErrorMessage">
      {{forgot_passwordresponseErrorMessage}}
    </p>
    <div class="form-field">
      <label class="form-label" for="field-forgot-email"
             >Please enter your email address:</label>
      <input class="form-input" id="field-forgot-email"
             type="email" name="email" value=""
             required autocapitalize="false" ng-model="model.email" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="forgot_password.$error.email"
            >Is this an email address?</li>
        <li class="form-error"
            ng-show="forgot_password.$error.required"
            >Please enter your email.</li>
        <li class="form-error"
            ng-show="forgot_password.$error.response"
            >{{forgot_password.email.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <button class="btn" type="submit" name="forgot_password"
                status-button="forgot_password">Request reset</button>
      </div>
    </div>
  </form>
  <!-- / Forgot password -->

  <!-- Reset password -->
  <form data-title="New password"
        data-value="reset_password"
        class="form tab-pane"
        name="reset_password"
        form-validate
        novalidate>

    <p class="form-description form-error"
       ng-show="reset_password.responseErrorMessage">
      {{reset_password.responseErrorMessage}}
    </p>

    <input type="hidden" name="code" value="{{model.code}}" ng-if="hasActivationCode"/>

    <div class="form-field" ng-if="!hasActivationCode">
      <label class="form-label" for="field-activate-code"
        >Your reset code:
        <span class="form-hint">(this will be emailed to you)</span>
      </label>
      <input class="form-input" id="field-activate-code"
             type="text" name="code" value=""
             required autocorrect="false" autocapitalize="false"
             ng-model="model.code" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="reset_password.code.$error.required"
            >Please enter your reset code</li>
        <li class="form-error"
            ng-show="reset_password.code.$error.response"
            >{{reset_password.code.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-field">
      <label class="form-label" for="field-activate-password"
             >New password:
        <span class="form-hint">(at least two characters)</span>
      </label>
      <input class="form-input" id="field-activate-password"
             type="password" name="password" value=""
             required autocapitalize="false" autocorrect="false"
             ng-minlength="2" ng-model="model.password" />
      <ul class="form-error-list">
        <li class="form-error"
            ng-show="reset_password.password.$error.required"
            >Please choose a password.</li>
        <li class="form-error"
            ng-show="reset_password.password.$error.minlength"
            >Passwords must be at least 2 characters.</li>
        <li class="form-error"
            ng-show="reset_password.password.$error.response"
            >{{reset_password.password.responseErrorMessage}}</li>
      </ul>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <button class="btn" type="submit" name="activate"
                status-button="activate">Save</button>
      </div>
    </div>
  </form>
  <!--/ Reset password -->
</div>

          
        </div>
      </div>
    </div>
    <!-- / Account Dialog -->

    <!-- Share View Dialog -->
    <div share-dialog="" ng-show="shareDialog.visible"></div>
    <!-- / Share View Dialog -->

    <!-- Angular view -->
    <main class="content" ng-view=""></main>
  </div>
  <!-- / Wrapper -->

    
  <script type="text/ng-template" id="annotation.html">
    <header class="annotation-header" ng-if="!vm.annotation.user">
  <strong>You must be signed in to create annotations.</strong>
</header>

<div ng-if="vm.annotation.user">
  <header class="annotation-header">
    <!-- Deletion notice -->
    <span ng-if="!vm.editing && vm.annotation.deleted">Annotation deleted.</span>

    <!-- User -->
    <span ng-if="vm.annotation.user">
      <a class="annotation-user"
         target="_blank"
         ng-href="{{vm.baseURI}}u/{{vm.annotation.user}}"
         >{{vm.annotation.user | persona}}</a>
      <i class="h-icon-border-color" ng-show="vm.isHighlight() && !vm.editing" title="This is a highlight. Click 'edit' to add a note or tag."></i>
      
     <!--
      <span ng-show="vm.isPrivate() && !vm.editing"
            title="This annotation is visible only to you.">
        <i class="h-icon-lock"></i> Private
      </span>
      -->

      <span class="annotation-citation"
            ng-if="!vm.embedded"
            ng-show="vm.document.title">
        on &ldquo;<a href="{{vm.document.uri}}" target="_blank"
                     >{{vm.document.title}}</a>&rdquo;
        <span class="annotation-citation-domain"
              ng-show="vm.document.domain != vm.document.title"
              >({{vm.document.domain}})</span>
      </span>
      <!-- Editing controls -->
	
      <aside class="pull-right" ng-if="vm.editing">
        <privacy ng-click="$event.stopPropagation()"
                 ng-if="vm.annotation.permissions && vm.editing && action != 'delete'"
                 ng-model="vm.annotation.permissions"
                 level="vm.privacyLevel"
                 user="{{vm.annotation.user}}"
                 class="dropdown privacy pull-right"
                 name="privacy" />
      </aside>

      <!-- / Editing controls -->
    </span>


    <span class="annotation-collapsed-replies">
      <a class="reply-count small" href=""
         ng-click="replyCountClick()"
         ng-pluralize count="replyCount"
         when="{'0': '', 'one': '1 reply', 'other': '{} replies'}"></a>
    </span>

    <!-- Timestamp -->
    <a class="annotation-timestamp"
       target="_blank"
       title="{{vm.annotation.updated | moment:'LLLL'}}"
       ng-if="!vm.editing && vm.annotation.updated"
       ng-href="{{vm.baseURI}}a/{{vm.annotation.id}}"
       >{{vm.timestamp}}</a>
  </header>

  <!-- Excerpts -->
  <section class="annotation-section"
           ng-repeat="target in vm.annotation.target track by $index">
    <blockquote class="annotation-quote"
                ng-hide="target.diffHTML && vm.showDiff"
                ng-bind-html="selector.exact"
                ng-repeat="selector in target.selector
                           | filter : {'type': 'TextQuoteSelector'}
                           track by $index"></blockquote>
    <blockquote class="annotation-quote"
                ng-bind-html="target.diffHTML"
                ng-show="target.diffHTML && vm.showDiff"></blockquote>
    <div class="small show-differences"
         ng-show="vm.hasDiff">
      <input type="checkbox"
             ng-model="vm.showDiff"
             ng-click="$event.stopPropagation()"> Show differences</input>
    </div>
  </section>

  <!-- / Excerpts -- >

  <!-- Body -->
  <section name="text"
           class="annotation-body"
           ng-model="vm.annotation.text"
           ng-readonly="!vm.editing"
           markdown>
  </section>
  <!-- / Body -->

  <!-- Tags -->
  <div class="annotation-body form-field" ng-if="vm.editing">
    <tags-input ng-model="vm.annotation.tags"
                name="tags"
                class="tags"
                placeholder="Add tags…"
                min-length="1"
                replace-spaces-with-dashes="false"
                enable-editing-last-tag="true">
        <auto-complete source="vm.tagsAutoComplete($query)"
                       min-length="1"
                       max-results-to-show="10"></auto-complete>
    </tags-input>
  </div>

  <div class="annotation-body tags tags-read-only"
       ng-if="vm.annotation.tags.length && !vm.editing">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in vm.annotation.tags">
        <a href="/stream?q=tag:'{{tag.text|urlencode}}'" target="_blank">{{tag.text}}</a>
      </li>
    </ul>
  </div>
  <!-- / Tags -->

  <footer class="annotation-footer">
    <div class="small" ng-if="vm.editing">
      <p ng-show="vm.privacyLevel.text == 'Only Me'">
        <i class="h-icon-lock"></i> This annotation is visible only to you.</p>
      <p ng-show="vm.privacyLevel.text == 'Public'">
        <i class="h-icon-public"></i> This annotation is visible to everyone.</p>
    </div>
    <div class="form-actions" ng-if="vm.editing" ng-switch="vm.action">
      <div class="form-actions-buttons form-actions-left">
        <button ng-switch-when="edit"
                ng-click="vm.save()"
                class="btn"><i class="h-icon-check btn-icon"></i> Save</button>
        <button ng-switch-when="delete"
                ng-click="vm.save()"
                class="btn"><i class="h-icon-check btn-icon"></i> Delete</button>
        <button ng-switch-default
                ng-click="vm.save()"
                class="btn"><i class="h-icon-check btn-icon"></i> Save</button>
        <button class="btn btn-clean"
                ng-click="vm.revert()"
                ><i class="h-icon-cancel btn-icon"></i> Cancel</button>
      </div>
    </div>
<!--
    <div class="annotation-section annotation-license" ng-if="vm.editing">
      <a href="http://creativecommons.org/publicdomain/zero/1.0/"
         title="View more information about the Creative Commons Public Domain license"
         target="_blank">
        <i class="h-icon-cc-logo"></i><i class="h-icon-cc-zero"></i>
        Annotations can be freely reused by anyone for any purpose.
      </a>
    </div>
-->
    <div class="annotation-replies" ng-if="replyCount > 0">
      <a class="reply-count small" href=""
         ng-click="replyCountClick()"
         ng-pluralize count="replyCount"
         when="{'0': '', 'one': '1 reply', 'other': '{} replies'}"></a>
    </div>

    <div class="annotation-actions" ng-if="!vm.editing && vm.annotation.id">
  <!--    <button class="small btn-clean"
              ng-click="vm.reply()"
              ><i class="h-icon-reply btn-icon"></i> Reply</button> -->
      <span class="share-dialog-wrapper">
        <button class="small btn-clean"
                ng-click="share($event)"
                ><i class="h-icon-link btn-icon"></i> Link</button>
        <span class="share-dialog" ng-click="$event.stopPropagation()">
          <a target="_blank"
             class="h-icon-link"
             ng-href="{{vm.annotationURI}}"
             title="Open in new tab"></a>
          <input type="text" value="{{vm.annotationURI}}" readonly>
        </span>
      </span>
      <button class="small btn-clean"
              ng-show="vm.authorize('update')"
              ng-click="vm.edit()"
              ><i class="h-icon-edit btn-icon"></i> Edit</button>
      <button class="small btn-clean"
              ng-show="vm.authorize('delete')"
              ng-click="vm.delete()"
              ><i class="h-icon-delete btn-icon"></i> Delete…</button>
    </div>
  </footer>
</div>

  </script>
  <script type="text/ng-template" id="group_list.html">
    <span role="button" class="dropdown-toggle" data-toggle="dropdown">
  Groups
  <i class="h-icon-arrow-drop-down"></i>
</span>
<ul class="dropdown-menu pull-right" role="menu">
  <li ng-repeat="group in groups">
    <a ng-href="{{group.url}}" ng-bind="group.name" target="_blank"
       class="group-name pull-left"></a>
    <a ng-href="{{group.url}}" target="_blank" class="h-icon-link pull-right"
       title="Share this group"></a>
    <div style="clear:both;"></div>
  </li>
  <li>
    <a href="/groups/new" target="_blank"><i class="h-icon-add"></i> New Group</a>
  </li>
</ul>

  </script>
  <script type="text/ng-template" id="markdown.html">
    <div ng-hide="readonly" class="markdown-tools" ng-class="preview && 'disable'">
  <span class="markdown-preview-toggle">
    <a class="markdown-tools-badge h-icon-markdown" href="https://help.github.com/articles/markdown-basics" title="Parsed as Markdown" target="_blank"></a>
    <a href="" class="markdown-tools-toggle" ng-click="togglePreview()" ng-show="!preview">Preview</a>
    <a href="" class="markdown-tools-toggle" ng-click="togglePreview()" ng-show="preview">Write</a>
  </span>
  <i class="h-icon-format-bold markdown-tools-button" ng-click="insertBold()" title="Embolden text"></i>
  <i class="h-icon-format-italic markdown-tools-button" ng-click="insertItalic()" title="Italicize text"></i>
  <i class="h-icon-format-quote markdown-tools-button" ng-click="insertQuote()" title="Quote text"></i>
  <i class="h-icon-insert-link markdown-tools-button" ng-click="insertLink()" title="Insert link"></i>
  <i class="h-icon-insert-photo markdown-tools-button" ng-click="insertIMG()" title="Insert image"></i>
  <i class="h-icon-functions markdown-tools-button" ng-click="insertMath()" title="Insert mathematical notation (LaTex is supported)"></i>
  <i class="h-icon-format-list-numbered markdown-tools-button" ng-click="insertNumList()" title="Insert numbered list"></i>
  <i class="h-icon-format-list-bulleted markdown-tools-button" ng-click="insertList()" title="Insert list"></i>
</div>
<textarea class="form-input form-textarea js-markdown-input"
          ng-hide="readonly || preview"
          ng-click="$event.stopPropagation()"
          ng-required="required"></textarea>
<div class="styled-text js-markdown-preview" ng-class="preview && 'markdown-preview'" ng-dblclick="togglePreview()" ng-bind-html="rendered" ng-show="readonly || preview"></div>

  </script>
  <script type="text/ng-template" id="privacy.html">
    <div class="dropdown">
  <span name="privacy"
        role="button"
        class="dropdown-toggle"
        data-toggle="dropdown">
        <i class="small" ng-class="{'h-icon-public': isPublic(level.name),
                                    'h-icon-lock': !isPublic(level.name)}"></i>
        <span ng-bind="level.text"></span>
        <i class="h-icon-arrow-drop-down"></i>
  </span>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="level in levels" ng-click="setLevel(level)">
      <a href="">
        <i class="small" ng-class="{'h-icon-public': isPublic(level.name),
                                    'h-icon-lock': !isPublic(level.name)}"></i>
        <span ng-bind="level.text"></span>
      </a>
    </li>
  </ul>
</div>

  </script>
  <script type="text/ng-template" id="share_dialog.html">
    <div id="dialog" class="sheet content">
  <i class="close h-icon-close"
     role="button"
     title="Close"
     ng-click="shareDialog.visible = false"></i>
  <div class="form-vertical tabbable">
  <div class="form tab-pane" data-title="Share">
    <p>Share the link below to show anyone these annotations and invite them to contribute their own.</p>

    <p><input id="via"
        class="form-input"
        type="text"
        ng-value="viaPageLink"
        readonly /></p>
    <p class="share-links">
    <a href="//twitter.com/intent/tweet?url={{viaPageLink}}"
       target="_blank"
       title="Tweet link"
       class="h-icon-twitter"></a>
    <a href="//www.facebook.com/sharer/sharer.php?u={{viaPageLink}}"
       target="_blank"
       title="Share on Facebook"
       class="h-icon-facebook"></a>
    <a href="//plus.google.com/share?url={{viaPageLink}}"
       target="_blank"
       title="Post on Google Plus"
       class="h-icon-google-plus"></a>
    <a href="mailto:?subject=Let's%20Annotate&amp;body={{viaPageLink}}"
       title="Share via email"
       class="h-icon-mail"></a>
    </p>

<p> Coming soon.... </p>
  </div>
  </div>
</div>

  </script>
  <script type="text/ng-template" id="viewer.html">
    <!-- Thread view -->
<ul class="stream-list"
    deep-count="count"
    thread-filter="search.query"
    window-scroll="loadMore(20)">
  <li ng-show="threadFilter.active()"
      ><span ng-pluralize
             count="count('match')"
             when="{'0': 'No results for “{{search.query}}”.',
                    'one': 'Found one result.',
                    'other': 'Found {} results.'}"></span>
      <a href="" ng-click="clearSelection()">Clear search</a>.</li>
  <li ng-show="!threadFilter.active() && selectedAnnotations"
      ><span ng-pluralize
             count="selectedAnnotationsCount"
             when="{'0': 'No annotations selected.',
                    'one': 'Showing 1 selected annotation.',
                    'other': 'Showing {} selected annotations.'}"></span>
      <a href="" ng-click="clearSelection()">Clear selection</a>.</li>
  <li ng-show="isStream">
    <span class="ng-cloak dropdown">
      <span role="button"
            class="dropdown-toggle"
            data-toggle="dropdown">
        Sorted by {{sort.name | lowercase}}
        <i class="h-icon-arrow-drop-down"></i>
      </span>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ng-click="sort.name = option"
            ng-hide="option == 'Location' && !isEmbedded"
            ng-repeat="option in ['Newest', 'Oldest', 'Location']"
            ><a href="">{{option}}</a></li>
      </ul>
    </span>
  </li>
  <li id="{{vm.id}}"
      class="paper thread"
      ng-class="{'js-hover': hasFocus(child.message)}"
      deep-count="count"
      thread="child" thread-filter
      ng-include="'thread.html'"
      ng-mouseenter="focus(child.message)"
      ng-click="scrollTo(child.message)"
      ng-mouseleave="focus()"
      ng-repeat="child in threadRoot.children | filter:notOrphan | orderBy : sort.predicate"
      ng-show="shouldShowThread(child) && (count('edit') || count('match') || !threadFilter.active()) || vm.isNew()">
  </li>
</ul>
<!-- / Thread view -->

  </script>
  <script type="text/ng-template" id="thread.html">
    <a href=""
   class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}"
   ng-click="vm.toggleCollapsed()">
   <span ng-class="{'h-icon-arrow-right': !!vm.collapsed,
                    'h-icon-arrow-drop-down': !vm.collapsed}"></span>
</a>

<!-- Annotation -->
<div ng-if="vm.container && !vm.container.message" class="thread-deleted">
  <p><em>Message not available.</em></p>
</div>

<article class="annotation thread-message {{vm.collapsed && 'collapsed'}}"
         name="annotation"
         annotation="vm.container.message"
         annotation-embedded="{{isEmbedded}}"
         annotation-show-reply-count="{{vm.shouldShowNumReplies()}}"
         annotation-reply-count="{{vm.numReplies()}}"
         annotation-reply-count-click="vm.toggleCollapsed()"
         ng-if="vm.container.message"
         ng-show="vm.matchesFilter()">
</article>

<div class="thread-load-more" ng-show="vm.shouldShowLoadMore()">
  <a class="load-more small"
     href=""
     ng-click="vm.loadMore()"
     ng-pluralize
     count="vm.numLoadMore()"
     when="{'0': '',
           one: 'View one more in conversation',
           other: 'View {} more in conversation'}"
     ></a>
</div>

<!-- Replies -->
<ul class="thread-replies">
  <li class="thread"
      deep-count="count"
      thread="child" thread-filter
      ng-include="'thread.html'"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated' : true"
      ng-show="vm.shouldShowAsReply()">
  </li>
</ul>

  </script>

    
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/jquery.min.js?6c7b0544"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular.min.js?43032a7b"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-animate.min.js?b169e38b"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-bootstrap.min.js?87929dd2"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-resource.min.js?fa339530"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-route.min.js?8ca9dfb2"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-sanitize.min.js?e201751f"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-tags-input.min.js?d15e66fe"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angular-toastr.min.js?a85da403"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angulartics.min.js?b802785c"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/angulartics-ga.min.js?311b6a70"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/katex.min.js?fa536a3b"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/vendor/url.min.js?de686538"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/app.min.js?db7cd86a"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/config.min.js?033d1f1a"></script>
  
    <script src="chrome-extension://namhfjepbaaecpmpgehfppgnhhgaflne/public/scripts/account.min.js?0bfc97b3"></script>
  

  </body>
</html>