<!DOCTYPE html>
<html ng-app="NotocolPopup">
<head>
    <title>Notocol</title>
    <link rel="stylesheet" type="text/css" href="styles/notocol/popup.css">
    <link rel="stylesheet" href="styles/"> 
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/notocol/popup.js"></script>

</head>
<body ng-controller="PageCtrl as page">
    <div ng-controller="TabsCtrl as tabs">
        <section>
            <ul>
                <li ng-class="{active:tabs.isSet(1)}">
                    <a href="" ng-click="tabs.setTab(1)">Save Page</a>
                </li>
                <li ng-class="{active:tabs.isSet(2)}">
                    <a href="" ng-click="tabs.setTab(2)">Snapshot</a>
                </li>
                <li ng-class="{active:tabs.isSet(3)}">
                    <a href="" ng-click="tabs.setTab(3)">Annotate</a>
                </li>
            </ul>
        </section>

        <div ng-controller="BookmarkCtrl as bookmark" class="popup-body" ng-show="tabs.isSet(1)">
            <h1>{{bookmark.pageDetails.title}}</h1>
            <textarea ng-model="bookmark.pageSummary" placeholder="Enter notes for the page..."></textarea>
            <input type="text" ng-model="bookmark.pagetags" placeholder="Enter comma separated tags.." />
            <div>
                <img ng-src="{{bookmark.pageDetails.faviconurl}}" />
                <p>{{bookmark.pageDetails.url}}</p>
            </div>

            <input type="button" value="Save" ng-click="bookmark.savePage()" />
            <input type="button" value="Cancel" ng-click="page.closePopup()" />
        </div>

        <div class="popup-body" ng-show="tabs.isSet(2)">
            <input type="button" value="Take Current Page Snapshot" />
        </div>

        <div class="popup-body" ng-show="tabs.isSet(3)">
            <input id='toggleAnnotation' type=button value="Annotate" />
        </div>
        
    </div>
    <div ng-controller="CheckCtrl">
        
    </div>

</body>
</html>
