<div style="background:#636464;width:250px;height:300px;margin-top:50px">
    <div class="userImage">
    </div>
    <div style="float:right">
        <span style="float:right">
            <a href=# tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Close popup">
                <img style='width:15px;height:15px' src="images/notocol/close.png" ng-click="ClosePopup()" />
            </a>
</span>
        <span style="float:right;padding-right:5px">
            <a href=# tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Delete this page">
                <img style='width:15px;height:15px' src="images/notocol/delete.png" ng-click="DeletePage()" />
            </a>
</span>
        
    </div>
    <br>

    <!--<div style="text-align: center;color:white;margin-top:10px">
        Twitter Blogs
    </div>-->
    <div style="width:230px;margin-left:10px;margin-right:10px">
        <div style="width:100%">
            <span style="float:left;padding-right:5px">
                <a href=# tooltips tooltip-size="small" tooltip-side="right" tooltip-content="Save page privately" ng-click="TogglePrivacy()" ng-show="!pageDetails.privacy">
                    <img class="iconDimension" src="images/notocol/lock.png" />
                </a>
                <a href=# tooltips tooltip-size="small" tooltip-side="right" tooltip-content="Save page publicly" ng-click="TogglePrivacy()" ng-show ="pageDetails.privacy">
                    <img class="iconDimension" src="images/notocol/lock.png" />
                </a>

            </span>
            <span style="float:right;padding-right:5px">
                <a href=# tooltips tooltip-size="small" tooltip-side="left" tooltip-content="Enable note taker" ng-click="ToggleAnnotation()">
                    <img class="iconDimension" src="images/notocol/toggle.png" />
                </a>
            </span>
            <!--<span style="float:right;padding-right:5px">
                <img class="iconDimension" src="images/notocol/camera.png" />
            </span>-->
        </div>
        <br>

        <div style="width:100%">
            <textarea rows="2" style="width:220px" placeholder="Something to say or note about this page" ng-model="pageDetails.summary"></textarea>
        </div>
        <br />
        <div>
            <tags-input ng-model="pageDetails.tags"></tags-input>
        </div>
    </div>
    
    <br />

    <div class="addFolderButton" ng-hide="folderSelect" ng-click="SetFolderSelect(true)">
        <span style="padding-left:10px;line-height:24px">{{pageDetails.folderData.selectedFolder.folderName || 'Add to folder'}}</span>
    </div>
    
    <div ng-show="folderSelect" style="overflow-y: auto;max-height: 100px;overflow-x: hidden; background-color:lightgray">
        <!--ParentFolder Navigation-->
        <div ng-show="currentParent.Parent != null" style="margin-left: 20px">
            <input type="button" value="{{currentParent.Name}}" ng-cli ng-click="setCurrentParent(currentParent.Parent)">
        </div>
        <!--Input for New folder name-->
        <div style="margin-left:10px;border-radius:10px">
            <input style="background:transparent;border-radius:10px;width:230px" type="text" placeholder="Create New" ng-model="selectedFoldername" ng-keyup="$event.keyCode == 13 ? AddFolder() : null" />
            <input type="button" ng-click="AddFolder()" value="Add" />
        </div>

        <!--Dropdown List-->
        <div class="folderListItems">
            <table style="width:220px">
                <tr style="height:29px;width:100%" ng-repeat="folder in currentParent.Children">
                    <td class='iconStyle' ng-click="showSubFolder(folder,false)" width="20px" style="background-image:url(images/notocol/folder.png);
                                       "></td>
                    <td class='iconStyle' ng-click="selectFolder(folder)" style="font-size:13px;padding-top:7px">
                        {{folder.Name}}
                    </td>
                    <td class='iconStyle' ng-click="setCurrentParent(folder)" width="20px" style="background-image:url(images/notocol/next2.png);
                                        border-left: 1px solid grey"></td>
                </tr>
            </table>
        </div>

    </div>
    <div style="text-align: center;padding-top:10px">
        <button style="background:#e60000;color:white;border:0px" ng-click="SavePage()">Note</button>
    </div>
</div>