
<div class="box-single" >

    <a href="" class="plus" ng-click="$event.preventDefault();openPageDetails({page:page})">+</a>
    <div ng-if="page.thumbnailImageUrl != null && page.thumbnailImageUrl.length > 0" class="left-single" style="background-image:url('{{page.thumbnailImageUrl}}');"></div>
    <div ng-class="page.thumbnailImageUrl != null && page.thumbnailImageUrl.length > 0 ? 'right-single' : 'right-single-fleft'">
        <div class="right-single-header">
            <a href="#"><h1>{{page.title}}</h1></a>
            <a href="#" class="domainname">{{page.url|domain}}</a>

            <span >
                <img src="~/Content/images/icon-tag-small.png" width="12" height="12" ng-if="page.tags.length > 0">
                <a href="" ng-repeat="t in page.tags" ng-click="$event.preventDefault();tagClickHandler({tag:t})">{{ t }}{{$last ? '' : ', '}}</a>
                
            </span>
        </div>
        <div ng-repeat="note in page.notes | orderBy:'text.length' : true| limitTo:3">
            <p ng-if="note.quote.length > 0">{{note.quote|truncateStringWithEllipsis:325}}</p>
            <p ng-if="note.text.length > 0">{{note.text|truncateStringWithEllipsis:325}}</p>
        </div>
        <p ng-if="page.notes.length <= 0">{{page.thumbnailText|truncateStringWithEllipsis:400}}</p>
    </div>
</div>